{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "ignorePatterns": ["**/*.config.js"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": 0,
    "prettier/prettier": "error",
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-explicit-any": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}